*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto-Black;
  src: url("./Fonts//Roboto-Black.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("./Fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("./Fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("./Fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("./Fonts/Roboto-Regular.ttf");
}